.curs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 2%;
        right: -60px;
        width: 300px;
        height: 450px;
        background: url("../../Assets/Svg/logo-grb.svg") no-repeat;
        background-size: cover;
    }

    &__title {
        font-size: 18px;
        margin-bottom: 25px;
    }

    &__img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0px 4px 22px rgba(11, 11, 146, 0.2);
        margin-bottom: 30px;
    }

    &__sub-btn {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .form-curs__textarea {
        box-sizing: border-box;
        margin: 0;
        padding: 4px 11px;
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        position: relative;
        display: inline-block;
        width: 100%;
        min-width: 0;
        background-color: #ffffff;
        background-image: none;
        border-width: 1px;
        border-style: solid;
        border-color: #152340;
        border-radius: 6px;
        transition: all 0.2s;

        &::placeholder {
            color: #152340;
        }

        &:focus {
            border-inline-end-width: 1px;
            outline: 0;
        }
    }

    &__btn {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        color: #fff;
        border: 1px solid #152340;
        background-color: #152340;
        cursor: pointer;
        transition: all 0.7s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}